<h3 id="quote">Welcome to Green Concepts</h3>
<div class="flex">
  <div class="col-sm-4 link"><a href="#">Hirarchy</a></div>
  <div class="col-sm-4 link">
    <a href="#" [routerLink]="['/add']">Customer</a>
  </div>
  <div class="col-sm-4 link">
    <a href="#" [routerLink]="['/view']">Orders</a>
  </div>
</div>
<div class="flex">
  <div class="col-sm-4 link"><a href="#">Schedules</a></div>
  <div class="col-sm-4 link">
    <a href="#">Messages</a>
  </div>
  <div class="col-sm-4 link">
    <a href="#">Email</a>
  </div>
</div>
